__pycache__
.docker*
.env*
.git*
.idea
.venv
.vscode
*.code-workspace
*.log
*.md
*.pyc
*.pyd
*.pyo
**/node_modules
data
db.sqlite3
db.sqlite3-journal
docker-compose*.yml
Dockerfile*
scripts
v2ray-core
venv
xray-core