**/node_modules
*.log
*.md
*.pyc
*.pyd
*.pyo
.docker*
.env*
.git*
.idea
.vscode
Dockerfile*
__pycache__
db.sqlite3
db.sqlite3-journal
docker-compose*.yml
v2ray-core
xray-core
tests
venv*
.venv*
LICENSE
install_service.sh
Marzban.code-workspace
pyproject.toml
uv.lock
