SUDO_USERNAME = "mm6267"
SUDO_PASSWORD = "Mer30m@hsen"

UVICORN_HOST = "91.107.165.242"
UVICORN_PORT = 2020

XRAY_JSON = "xray.json"
XRAY_EXECUTABLE_PATH = "/usr/local/bin/xray"
XRAY_ASSETS_PATH = "/usr/local/share/xray"

### XRAY_HOSTS must be remark@hostname of hosts
### if XRAY_HOSTS isn't defined, server IP will be used automatically
# XRAY_HOSTS = "
# Server@127.0.0.1
# Bridge@192.168.1.10
# "

# XRAY_SUBSCRIPTION_URL_PREFIX = "http://example.com"
