[Unit]
Description=Marzban Slave Service
Documentation=https://github.com/gozargah/marzban
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/env python3 /var/lib/marzban/slave.py
Restart=on-failure
WorkingDirectory=/var/lib/marzban

[Install]
WantedBy=multi-user.target
