@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


.status > p {
	font-size: 14px;
	margin-top: 4px;
}

.bg-blue-animate {
	animation: blur-animate 200ms ease-in;
	backdrop-filter: blur(10px);
}
@keyframes blur-animate {
	from {
		backdrop-filter: blur(1px);
	}
	to {
		backdrop-filter: blur(10px);
	}
}

.animate-spin	{
	animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td:last-of-type {
	width: 130px;
}

.toggle.disabled > div:last-of-type > button:not(.tr-bg-transparent) {
	@apply bg-gray-200 text-slate-500 border border-slate-300;
}

.form-disabled button{
	@apply pointer-events-none select-none opacity-80;
}

.btn-loading button{
	@apply flex gap-2
}

.toggle button{
	font-size: 14px;
}

.total_users div[style="width: 100%;"] span{
	display: none;
}
.protocol span{
	height: 16px;
	display: block;
}
.protocol span span{
	padding: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: auto; /* 2 */
  background-image: auto; /* 2 */
}
