@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-Thin.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-Light.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-SemiBold.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-Bold.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-ExtraBold.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-Black.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/statics/fonts/YekanBakh-ExtraBlack.woff2") format("woff2"),
    url("/statics/fonts/YekanBakh-ExtraBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Inter", "YekanBakh", "sans-serif";
}
